<%- include('../partials/header') %>

    <h2>Danh sรกch sแบฃn phแบฉm</h2>
    <a href="/products/add">+ Thรชm sแบฃn phแบฉm</a>

    <ul>
        <% products.forEach(product=> { %>
            <li>
                <a href="/products/<%= product._id %>">
                    <%= product.name %> - <%= product.price %>โซ
                </a> |
                <a href="/admin/products/edit/<%= product._id %>">โ๏ธ Sแปญa</a> |
                <a href="/products/delete/<%= product._id %>" onclick="return confirm('Xรณa?')">๐๏ธ Xรณa</a>
            </li>
            <% }) %>
    </ul>

    <%- include('../partials/footer') %>